<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/bootstrap.5.2.0.css">
        <title><%= title %></title>
    </head>
    <body>
        <main class="bg-dark text-light min-vh-100">
        <header class="border-bottom">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                <div class="container">
                    <a class="navbar-brand" href="/">Root</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ms-auto">
                            <a class="nav-link me-3 <%= navLink === "albums" ? "active" : ""; %>" href="/albums">Albums</a>
                            <% if (userEmail) { %> 
                            <span class="nav-link <%= navLink === "albums" ? "active" : ""; %>">Welcome, <%=userEmail%></span>
                            <a class="nav-link <%= navLink === "albums" ? "active" : ""; %>" href="/users/logout">Log Out</a>
                            <% } else { %> 
                            <a class="nav-link <%= navLink === "signup" ? "active" : ""; %>" href="/users/signup">Signup</a>
                            <a class="nav-link <%= navLink === "login" ? "active" : ""; %>" href="/users/login">Login</a>
                            <% } %> 
                        </div>
                    </div>
                </div>
            </nav>
        </header>
 
